body{
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/*********************Header***************************/
nav{
  width: 100%;
  height: 80px;
  background-color: #017CBD;
}

.nav-container{
  max-width: 1024px;
  min-width: 1024px;
  margin: auto;
}

.logo-container{
  display: inline-block;
  float: left;
}

.logo-arriba{
  width: 60px;
  height: 60px;
  margin: 10px;
}

.menu a{
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin-left: 20px;
  margin-top: 30px;
  float: right;
}

.menu a:hover{
  font-weight: bold;
  color: grey;
}

header{
  width: 100%;
  height: auto;
  margin: auto;
  background: gold;  
  background-color: #FFC300;
}

.texto-header{
  width: 50%;
  height: 150px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  display: inline-block;
}

.redes{
  display: inline-block;
}

.rrss{
  display: inline-block;
  font-size: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.rrss img{
  height: 30px;
  width: 30px;
}


/*********************Main Content***************************/

.main-banner-container{
  min-width: 1048px;
  max-width: 1048px;
  height: 340px;
  overflow: hidden;
  margin: auto;
}

.main-banner-container2{
  display: none;
}

.main-banner-container img{
  width: 100%;
  height: auto;
  margin: 10px;
}

.main-container{
  margin: auto;
  height: auto;
  
  max-width: 1048px;
}

.container-recuadros{
  display: flex;
  margin: 5px;
  align-items: flex-start;
}

.recuadros{
  width: 340px;
  height: 225px;
  display: flex;
  margin: auto;
  border-left: 5px solid #234793;
}

.cuadro{
  width: 100px;
  height: 100px;
  margin: 15px;

}

.texto-foto{
  width: 150px;
  height: auto;
  margin: 10px;
}

.imagen-chica{
  width: 100%;
  height: auto;
}

.recuadros img{
  width: 100px;
  height: 100px
  height: auto;
}

.contenidofinal{
  display: flex;
  justify-content: center;
}

.contenidofinal p{
  font-weight: bold;
}

/**********************Footer*****************************/

.mail{
  margin-left: 150px
}

footer .footer-container{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: stretch;
  flex-flow: row wrap;
  margin-right: 150px;
  margin-bottom: 20px
  }

footer .footer-container p{
  color: black;
  margin-left: 15%;
  }

footer .footer-fotos{
  color: pink;
  height: 30px;
  width: 30px;
  margin: 5px;
  }

footer .footer-fotos img{
  width: 100%;
}

/**********************Media Query*****************************/

@media only screen and (max-width: 1000px){

  .nav-container{
    width: 100%;
    height: auto;
    display: flex;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: block;
  }

  .texto-header{
    width: 100%;
    height: auto;
  }

  .redes{
    display: flex;
    justify-content: center;
  }

  .main-banner-container{
    display: none;
  }

  .main-banner-container2{
    width: auto;
    height: auto;
    display: block;
  }

  .main-banner-container2 img{
    width: 100%;
  }
  .main-container{
    width: 100%;
  }
  
  .container-recuadros{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .recuadros{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-left: 0px;
  }

  .contenidofinal{
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }

}









